<div class="su-form py-5">
    <form action="/login" method="POST" class="form-container my-5 py-5">

        <h2 class="mb-4">Log In</h2>

        <label for="username">User Name: </label>
        <input type="text" name="username" id="username" required class="my-3 input-outline">

        <label for="password">Password: </label>
        <input type="password" name="password" id="password" required class="my-3 input-outline">

        <button type="submit" class="btn btn-outline btn-xl js-scroll-trigger mt-4">Log In</button>

        {{#if message}}
        <p class="col-8 mt-3 bg-danger text-white rounded">{{message}}</p>
        {{/if}}
    </form>

</div>